<a href="https://colab.research.google.com/github/logesh2511/Python_example/blob/main/datamanupulation_using_pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [117]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

data=pd.read_csv('/content/employees.csv')

data
#type(data)
#data.shape #row and colume
#data.head(6)  # first 6 number
#data.tail(10)  #last 10 element
#data.info()
#data.describe()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [118]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns

f= pd.read_csv ('/content/employees.csv')

# type(f)
# f.shape  # rows and columns
# f.head() # display from starting, give no to display no of rowss
# f.tail() # display from end, "
# f.info() # data info (no in each column,names of columns, etc)
# f['Team'] # display a particular column's data
# f[['First Name','Salary','Team']]
# f.iloc[4] # display a row's complete info
#f.iloc[3:7] # display a number of rows excluding that number
#f.iloc[3:7,2:5] # display specific rows and columns
#f.iloc[3:7,['Salary']]

In [119]:
data_new=data.sort_values('First Name',ascending=True)
data_new

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
...,...,...,...,...,...,...,...,...
902,NaN,Male,5/23/2001,7:52 PM,103877,6.322,NaN,Distribution
925,NaN,Female,8/23/2000,4:19 PM,95866,19.388,NaN,Sales
946,NaN,Female,9/15/1985,1:50 AM,133472,16.941,NaN,Distribution
947,NaN,Male,7/30/2012,3:07 PM,107351,5.329,NaN,Marketing
951,NaN,Female,9/14/2010,5:19 AM,143638,9.662,NaN,NaN

In [120]:
data_new.loc[186] #based

First Name                 NaN
Gender                  Female
Start Date           2/23/2005
Last Login Time        9:50 PM
Salary                  149654
Bonus %                  1.825
Senior Management          NaN
Team                     Sales
Name: 186, dtype: object

In [121]:
data_new.iloc[2] #index location is acessed

First Name                     Aaron
Gender                          Male
Start Date                 7/22/1990
Last Login Time              2:53 PM
Salary                         52119
Bonus %                       11.343
Senior Management               True
Team                 Client Services
Name: 440, dtype: object

In [122]:
data_new.isnull().sum() # number of null in the list

First Name            67
Gender               145
Start Date             0
Last Login Time        0
Salary                 0
Bonus %                0
Senior Management     67
Team                  43
dtype: int64

In [123]:
data_new.dropna(axis=0)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
141,Adam,Male,12/24/1990,8:57 PM,110194,14.727,True,Product
...,...,...,...,...,...,...,...,...
450,Willie,Male,8/22/2009,1:03 PM,55038,19.691,False,Legal
112,Willie,Male,11/27/2003,6:21 AM,64363,4.023,False,Marketing
175,Willie,Male,2/17/1998,8:20 PM,146651,1.451,True,Engineering
204,Willie,Male,6/6/2006,9:45 AM,55281,4.935,True,Marketing
652,Willie,Male,12/5/2009,5:39 AM,141932,1.017,True,Engineering

In [124]:
data_new.dropna(axis=1) #remove null data but dont use this because the column is deleted

    Start Date Last Login Time  Salary  Bonus %
101  2/17/2012        10:20 AM   61602   11.849
327  1/29/1994         6:48 PM   58755    5.097
440  7/22/1990         2:53 PM   52119   11.343
937  1/22/1986         7:39 PM   63126   18.424
137  5/21/2011         1:45 AM   95327   15.120
..         ...             ...     ...      ...
902  5/23/2001         7:52 PM  103877    6.322
925  8/23/2000         4:19 PM   95866   19.388
946  9/15/1985         1:50 AM  133472   16.941
947  7/30/2012         3:07 PM  107351    5.329
951  9/14/2010         5:19 AM  143638    9.662

[1000 rows x 4 columns]

In [125]:
data_new.dropna(axis=0,how="all") #if all the data in row are null then delete
#else Dont delete

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
...,...,...,...,...,...,...,...,...
902,NaN,Male,5/23/2001,7:52 PM,103877,6.322,NaN,Distribution
925,NaN,Female,8/23/2000,4:19 PM,95866,19.388,NaN,Sales
946,NaN,Female,9/15/1985,1:50 AM,133472,16.941,NaN,Distribution
947,NaN,Male,7/30/2012,3:07 PM,107351,5.329,NaN,Marketing
951,NaN,Female,9/14/2010,5:19 AM,143638,9.662,NaN,NaN

In [126]:
data_new.dropna(axis=0,how='all')

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
...,...,...,...,...,...,...,...,...
902,NaN,Male,5/23/2001,7:52 PM,103877,6.322,NaN,Distribution
925,NaN,Female,8/23/2000,4:19 PM,95866,19.388,NaN,Sales
946,NaN,Female,9/15/1985,1:50 AM,133472,16.941,NaN,Distribution
947,NaN,Male,7/30/2012,3:07 PM,107351,5.329,NaN,Marketing
951,NaN,Female,9/14/2010,5:19 AM,143638,9.662,NaN,NaN

In [127]:
data_new.dropna(axis=0,how='all',subset='Team') #delete if Team is not there  in row

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
101,Aaron,Male,2/17/2012,10:20 AM,61602,11.849,True,Marketing
327,Aaron,Male,1/29/1994,6:48 PM,58755,5.097,True,Marketing
440,Aaron,Male,7/22/1990,2:53 PM,52119,11.343,True,Client Services
937,Aaron,NaN,1/22/1986,7:39 PM,63126,18.424,False,Client Services
137,Adam,Male,5/21/2011,1:45 AM,95327,15.120,False,Distribution
...,...,...,...,...,...,...,...,...
890,NaN,Male,11/24/2015,3:11 AM,145329,7.100,NaN,Finance
902,NaN,Male,5/23/2001,7:52 PM,103877,6.322,NaN,Distribution
925,NaN,Female,8/23/2000,4:19 PM,95866,19.388,NaN,Sales
946,NaN,Female,9/15/1985,1:50 AM,133472,16.941,NaN,Distribution
947,NaN,Male,7/30/2012,3:07 PM,107351,5.329,NaN,Marketing

In [128]:
data_new['First Name']=data['First Name'].fillna('unknown')
data_new.isnull().sum()

First Name             0
Gender               145
Start Date             0
Last Login Time        0
Salary                 0
Bonus %                0
Senior Management     67
Team                  43
dtype: int64

In [129]:
data_gender=data['Gender'].mode()
data_gender

0    Female
Name: Gender, dtype: object

In [130]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   First Name         933 non-null    object
 1   Gender             855 non-null    object
 2   Start Date         1000 non-null   object
 3   Last Login Time    1000 non-null   object
 4   Salary             1000 non-null   int64
 5   Bonus %            1000 non-null   float64
 6   Senior Management  933 non-null    object
 7   Team               957 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [131]:
data_new=data.drop([1,4],axis=0)
data_new

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
6,Ruby,Female,8/17/1987,4:20 PM,65476,10.012,True,Product
...,...,...,...,...,...,...,...,...
995,Henry,NaN,11/23/2014,6:09 AM,132483,16.655,False,Distribution
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [132]:
filter_Team=data['Team']=='Finance'
data[filter_Team]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
7,NaN,Female,7/20/2015,10:43 AM,45906,11.598,NaN,Finance
14,Kimberly,Female,1/14/1999,7:13 AM,41426,14.543,True,Finance
46,Bruce,Male,11/28/2009,10:47 PM,114796,6.796,False,Finance
...,...,...,...,...,...,...,...,...
907,Elizabeth,Female,7/27/1998,11:12 AM,137144,10.081,False,Finance
954,Joe,Male,1/19/1980,4:06 PM,119667,1.148,True,Finance
987,Gloria,Female,12/8/2014,5:08 AM,136709,10.331,True,Finance
992,Anthony,Male,10/16/2011,8:35 AM,112769,11.625,True,Finance
996,Phillip,Male,1/31/1984,6:30 AM,42392,19.675,False,Finance

In [133]:
filter_Salary=(data['Salary'] >= 50000) & (data['Salary'] <= 100000)

data[filter_Salary]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
6,Ruby,Female,8/17/1987,4:20 PM,65476,10.012,True,Product
8,Angela,Female,11/22/2005,6:29 AM,95570,18.523,True,Engineering
10,Louise,Female,8/12/1980,9:01 AM,63241,15.132,True,NaN
...,...,...,...,...,...,...,...,...
986,Donna,Female,11/26/1982,7:04 AM,82871,17.999,False,Marketing
993,Tina,Female,5/15/1997,3:53 PM,56450,19.040,True,Engineering
994,George,Male,6/21/2013,5:47 PM,98874,4.479,True,Marketing
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development

In [134]:
data['Team'].value_counts()

Team
Client Services         106
Finance                 102
Business Development    101
Marketing                98
Product                  95
Sales                    94
Engineering              92
Human Resources          91
Distribution             90
Legal                    88
Name: count, dtype: int64

In [135]:
data['Gender'].value_counts()

Gender
Female    431
Male      424
Name: count, dtype: int64

In [136]:
filter=data['Start Date']>='2000-02-27'
data[filter]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
5,Dennis,Male,4/18/1987,1:35 AM,115163,10.125,False,Legal
...,...,...,...,...,...,...,...,...
993,Tina,Female,5/15/1997,3:53 PM,56450,19.040,True,Engineering
994,George,Male,6/21/2013,5:47 PM,98874,4.479,True,Marketing
997,Russell,Male,5/20/2013,12:39 PM,96914,1.421,False,Product
998,Larry,Male,4/20/2013,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,5/15/2012,6:24 PM,129949,10.169,True,Sales

In [137]:
data['Start Date']=data['Start Date'].astype('datetime64[ns]')
data['Start Date']

0     1993-08-06
1     1996-03-31
2     1993-04-23
3     2005-03-04
4     1998-01-24
         ...
995   2014-11-23
996   1984-01-31
997   2013-05-20
998   2013-04-20
999   2012-05-15
Name: Start Date, Length: 1000, dtype: datetime64[ns]

In [138]:
filter=data['Start Date']>='2000-02-27'
data[filter]

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
3,Jerry,Male,2005-03-04,1:00 PM,138705,9.340,True,Finance
7,NaN,Female,2015-07-20,10:43 AM,45906,11.598,NaN,Finance
8,Angela,Female,2005-11-22,6:29 AM,95570,18.523,True,Engineering
9,Frances,Female,2002-08-08,6:51 AM,139852,7.524,True,Business Development
13,Gary,Male,2008-01-27,11:40 PM,109831,5.831,False,Sales
...,...,...,...,...,...,...,...,...
994,George,Male,2013-06-21,5:47 PM,98874,4.479,True,Marketing
995,Henry,NaN,2014-11-23,6:09 AM,132483,16.655,False,Distribution
997,Russell,Male,2013-05-20,12:39 PM,96914,1.421,False,Product
998,Larry,Male,2013-04-20,4:45 PM,60500,11.985,False,Business Development
999,Albert,Male,2012-05-15,6:24 PM,129949,10.169,True,Sales